vars="$(jsonnet vars.jsonnet)"
read CLOUDSDK_CORE_PROJECT CLOUDSDK_COMPUTE_REGION <<< "$(jq -r '.project + " " +  .location' <<< "${vars}")"
export CLOUDSDK_CORE_PROJECT CLOUDSDK_COMPUTE_REGION

export USE_GKE_GCLOUD_AUTH_PLUGIN=True
gcloud beta container clusters get-credentials "$(jq -r '.cluster.name' <<< "${vars}")"
